 .navbar{
  	background-color:#0040ff;
  }
  
 .homecontainer{    
 background-color: #e8e8e8;
    color: rgba(0,0,0,.87);
    direction: ltr;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 15px;
    margin: 0;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
 
 /*#note-title,#note-description{
 	width:30%;
 	background-color:white;
 }

.card
	{
	background-color:white;
	width:30%;
    font-size: 14px;
    line-height: 19px;
    min-height: 46px;
    padding: 12px 15px 15px 15px;
}

.note-input{
	display: inline-table;
	width:30%;
	background-color:white;
	border: 2px black;
}
.note-output{
	display: inline-table;
	width:30%;
	background-color:white;
	border: 2px black;
}


.container{
	background-color:lavender;
	font-size: 14px;
    line-height: 19px;
    min-height: 46px;
    padding: 12px 15px 15px 15px;
} */


.noteEdit2 {
    font-size: 14px;
    line-height: 19px;
    min-height: 46px;
    padding: 12px 15px 15px 15px;
}

.noteEdit2 .noteEdit1{
    min-height: 43px;
    padding: 10px 15px;
    -webkit-transition: box-shadow .218s ease-in-out,background-color .218s ease-in;
    transition: box-shadow .218s ease-in-out,background-color .218s ease-in;
}

.noteEdit1 {
    font-family: 'Roboto Condensed',arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
    min-height: 38px;
    padding: 15px 15px 0 15px;
    -webkit-transition: background-color .218s ease-in;
    transition: background-color .218s ease-in;
}
.noteEdit {
	background-color:white
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}



