#navbar {
	margin: 0;
}

#logout {
	position: absolute;
	transition: .5s ease;
	top: 50%;
	left: 50%;
}

.input {
	border: none;
	outline: none;
}

body {
	background-color: #e8e8e8;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.homecontainer {
	background-color: #e8e8e8;
	height: 100%;
	width: 100%;
	margin-top: 75px;
	width: 75%;
	margin: 0 auto;
}

.mainContainer {
	width: 100%;
	height: 100%;
}

.CardContainer {
	margin: 0 auto;
	width: 700px;
	text-align: center;
	padding: 7px;
}

.CardContainer:hover .imageDiv {
	visibility: visible;
}

body {
	background-color: #e8e8e8;
}

.main {
	background-color: #e8e8e8;
	height: 100%;
	width: 100%;
	margin-top: 75px;
	width: 75%;
	margin: 0 auto;
}

.mainContainer {
	width: 100%;
	height: 100%;
}

.CardContainer {
	margin: 0 auto;
	width: 700px;
	text-align: center;
	padding: 7px;
	margin-top:75px;
}

.CardContainer:hover .imageDiv {
	visibility: visible;
}

.imageDiv {
	visibility: hidden;
}
/* .reminderDiv{
	margin: 0 5;
	display:inline block;
} */

.takeNote {
	background-color: white;
	width: 100%;
	height: 40px;
	display: inline-block;
	text-align: left;
	margin: 10px 10px 10px 10px;
	color: grey;
	margin-top: 75px;
}

.cardInput {
	background-color: white;
	width: 80%;
	text-align: left;
	display: inline-block;
	margin-top: 75px
	padding: 7px;
}

#pinInput {
	height: 22px;
	margin: 0;
	width: 22px;
	float: right;
}

.cardInputTitle{
	border: none;
	width: 100%;
	outline: none;
	white-space: pre-wrap;
}

.cardInputDescription {
	border: none;
	width: 100%;
	outline: none;
}

/* #reminderInput {
	height: 20px;
	margin: 0 3px;
	width: 20px;
} */

/* #collaboratorInput {
	height: 20px;
	margin: 0 3px;
	width: 20px;
}
 */
#changeColorInput {
	height: 20px;
	margin: 0 3px;
	width: 20px;
}

#addImageInput {
	height: 20px;
	margin: 0 3px;
	width: 20px;
}

#archiveInput {
	height: 20px;
	margin: 0 3px;
	width: 20px;
}

#savebtn {
	float: right;
	height: 32px;
}

#mySidenav {
	background-color: #e8e8e8;
	color: black;
}

.noteTaken {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
}

.showCards {
	margin: 10px 10px 10px 10px;
	background-color: white;
	width: 100%;
	text-align: left;
	display: inline-block;
	padding: 5px;
}

#pinOutput {
	height: 22px;
	margin: 0 8px;
	width: 22px;
	float: right;
}

.action-bar {
	height: 20px;
	margin-right: 5px;
	width: 20px;
	display: inline-block;
}
/* #collaboratorOutput {
	height: 20px;
	margin: 0 5px;
	width: 20px;
	display: inline-block;
} */

#changeColorOutput {
	height: 20px;
	margin: 0 5px;
	width: 20px;
	display: inline-block;
}

#addImageOutput {
	height: 20px;
	margin: 0 5px;
	width: 20px;
	display: inline-block;
}

#archiveOutput {
	height: 20px;
	margin: 0 5px;
	width: 20px;
	display: inline-block;
}

.ModalContainer {
	width: 700px;
	background-color: white;
	width: 100%;
	text-align: left;
	display: inline-block;
}

.imageDiv:hover {
	visiblity: false;
}

#icons {
	height: 30px;
	width: 30px;
}

#file {
	height: 200px;
	width: 200px;
}

.app-modal-window .modal-dialog {
	width: 300px;
}

.newLabel {
	border: none;
	outline: none;
	text-align: center;
}

/* #reminder {
	float: right;
	margin-right: 26px;
	margin-top: -20px;
	position: relative;
} */

#datetimepicker6 {
	border: none;
	outline: none;
	background-color: #a9a9a938;
}

#labelbtn {
	float: right;
}

h1, .h1 {
	font-size: 21px;
	text-align: start;
}

.myLabel {
	border: none;
	outline: none;
	text-align: center;
}

.body {
	margin: 20px 20px;
	text-align: center";
}

.labelList {
	border: none;
	outline: none;
	text-align: center;
}

.break {
	margin: 0 0 0 0;
}

#span {
	display: inline-flex;
	font-size: 20px;
}

#labelList {
	font-size: 15px;
}

#font {
	font-size: 15px;
}

.labelBtn {
	align: left;
}

.test[placeholder]:empty:before {
	content: attr(placeholder);
	color: #a6a6a6;
	white-space: pre-wrap;
}

#navBarSearchForm input[type=text] {
	width: 550px !important;
}

body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	margin-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav span {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	/* 		    display: block; */
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#grid {
	margin: 9px 9px 9px 9px;
	font-size: 25px;
}

#list {
	margin: 9px 9px 9px 9px;
	font-size: 25px;
}

#user {
	margin: 9px 9px 9px 18px;
	font-size: 25px;
	float: right;
}

.userDropdown {
	margin: 18px 0 0 -245px;
	height: 186px;
	width: 327px;
}

.image {
	width: 45px;
    height: 44px;
    margin-top: -18px;
}
.profileImage{
	width: 69px;
    margin: 0px 0px 5px 0px;
}
.img{
	width:100%;
	height:auto;
}
.user {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	margin-left: -81px;
	font-style: bold;
}

.name {
	font-weight: bold;
	margin: -4px 0 1px 0;
}

.email {
	color: #666;
}

#userEmail {
	display: inline-flex;
	margin-left: -81px;
}

.action-bar-hide {
	opacity: 0;
}

.action-bar-show {
	opacity: 1;
}

.action-button-hover {
	opacity: 1;
}

.action-btn-leave {
	opacity: 0;
}
.label {
	background-color : #B6B1B0;
	color : black;
	opacity: 0.4;
	margin-right : 5px;
}