<div class="homecontainer" ng-controller="archiveController">
	<div id="main" style="margin-left:{{margin}}px">
		<div class="container">
			<div class="CardContainer">
				<div ng-repeat="note in notes | filter : {isArchived : true, trashed: false}"  ng-click="open(note)" ng-class="{'col-md-4': view === 'grid', 'col-md-12': view === 'list'}">
					<div class="showCards">
						<img ng-click="note.pinned=true;note.isArchived= false;editNotes(note);$event.stopPropagation()" id="pinOutput" alt="pin" src="images/pin.svg" >
						<div>{{note.title}}</div><br>
						<div>{{note.description}}</div><br>
						<div ng-click="$event.stopPropagation()">
							<img id="reminderOutput" alt="reminder" src="images/reminder.svg">
							<img id="collaboratorOutput" alt="collaborator" src="images/colaborator.svg">
							<img id="changeColorOutput" alt="changeColor" src="images/change-color.svg">
							<img id="addImageOutput"  alt="addImage" src="images/add-image.svg">
							<img id="archiveOutput" alt="archive" src="images/archive.svg" ng-click="note.isArchived= false;editNotes(note);$event.stopPropagation()">
							<span class="glyphicon glyphicon-option-vertical"></span>
							<div class="btn-group" uib-dropdown>
								<span id ="dropdown" class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle> </span>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
									<li role="menuitem" ng-click="note.trashed=true;editNotes(note)"><a href="">Delete</a></li>
									<li role="menuitem" ng-click="makeCopy(note)"><a href="">Make a copy</a></li>
									<li role="menuitem"><a href="">Add level</a></li>
								</ul>
							</div>
						</div>
					</div>
			 	</div>
			</div>
		</div>
	</div>
</div>