<div class="body">
	<div class="modal-header" style="margin-top:5px;"><h1>Collborators</h1></div>
	<div>
		<div ng-repeat="noteUser in note.noteUser">
			<div class="col-sm-12">
				<div class="col-sm-6">
					<img class="img-circle collaborator" alt="{{noteUser.user.firstName.charAt(0)}}" ng-src="{{noteUser.user.profileImage}}" height="50px" width="50px"></img>
				</div>
				<div class="col-sm-6">
					<span>{{noteUser.user.firstName}} {{noteUser.user.lastName}}<span ng-if="noteUser.owner">(Owner)</span></span>
					<span>{{noteUser.user.email}}</span>
					<span ng-if="!noteUser.owner" ng-click="removeUser(note, noteUser.user.email)" class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6">
				<img class="img-circle collaborator" style="opacity:0.5" src="images/colaborator.svg">
			</div>
			<div class="col-sm-6">
				<input class="input" type="text" ng-model="$parent.collaboratorEmail" placeholder="enter mail to share with">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="btn" ng-click="closeCollaborator()">Cancel</button>
		<button type="btn" ng-click="shareNote(note)">Done</button>	
	</div>
</div>