<div class="homecontainer" ng-controller="notesController">
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header style">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse"></button>
		</div>
		<a class="navbar-brand" href="#">ToDoNotes</a>
		<div class="navbar-collapse" class="navbar" data-toggle="collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="note-container">
		<input type="text" placeholder="Take a note..." class="form-control" ng-hide="actualInput" ng-click="actualInput = true">
		<div class="card" ng-show="actualInput">
			<div type="text" contenteditable="true" palceholder="Enter note title" id="note-title"></div>
			<div type="text" contenteditable="true" palceholder="Enter note description" id="note-description"></div>
			<button type="button" class="btn" ng-click="saveNotes()">saveNotes</button>
		</div>
		<div class="card" ng-repeat="note in notes" ng-hide="false">
			<div class="card-title">{{note.title}}</div>
			<div class="card-description">{{note.description}}</div>
		</div>
	</div>
</div>
