<div class="homecontainer" ng-controller="notesController">
	<!-- <navigation-bar></navigation-bar>
	<side-bar></side-bar>

	<div class="col-sm-9">
		<cards-input></cards-input>
		<cards-output></cards-output>
	</div> -->
	<div ng-show="notesTab">
	<div ng-repeat="r in req">
		<nav-bar user="r"></nav-bar>
		<div class="container" style="width:100%;height: 100%">
			<div class="container" style="margin:0 auto;width: 700px;text-align: center">
				<div style="background-color:white;width: 80%;height: 40px;display: inline-block;text-align:left " ng-click="tabClicked()" ng-show="notesData == '' && !showNewNote">
					<input type="text"  style="border:none" ng-model="notesData" focus="true" placeholder="Take a note">
				</div>
				<div style="background-color:pink;width: 80%;text-align:left;display: inline-block;" ng-show="notesData != '' || showNewNote">
					<a href="#" class="btn btn-info btn-lg" style="float:right">
          			<span class="glyphicon glyphicon-pushpin"></span></a> 
					<input type="text"  style="border:none;width:100%" focus="false" placeholder="Title"/><br>
					<input type="text-area"  style="border:none;width:100%" ng-model="notesData" focus="true" placeholder="Take a note"/>
					<button type="button" style="float:right">Done</button>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>