<nav class="navbar navbar-inverse" style="background-color:{{user.background}};border-color:{{user.bordercolor}}">
  <div class="col-md-12 container-fluid">
    <div class="col-md-2 navbar-header">
      <a class="navbar-brand" href="#" style="font-family: Roboto,RobotoDraft,Arial,sans-serif;color:{{user.color}};font-weight:bold">Google <span style="font-weight: normal">Keep</span></a>
    </div>
    <div class="col-md-6 navbar-form" id="navBarSearchForm">
	    <div>
	        <input type="text" class="form-control" placeholder="Search">
	    </div>
    </div>
     <div class="col-md-4 navbar-form" style="float: right">
     	<a href="#">
          <span class="glyphicon glyphicon-repeat" style="margin: 9px 9px 9px 9px;font-size: 25px;color: white"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-th" style="margin: 9px 9px 9px 9px;font-size: 25px;"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-th-list" style="margin: 9px 9px 9px 9px;font-size: 25px;"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-user" style="margin: 9px 9px 9px 18px;font-size: 25px;"></span>
        </a>
     </div>
  </div>
</nav>