<div class="homecontainer"  ng-controller="notesController">
	<div class="main" style="margin:{{margin}}px;">
		<div class="homecontainer container main" style="border: 1 px solid red">
			<div class="CardContainer">
				<div id="takeNote" ng-click="tabClicked()" ng-show="note.description == '' && !showNewNote">
					<input id="noteTaken" type="text"  style="border:none" ng-model="note.description" focus="true" 
						placeholder="Take a note">
				</div>
				<div class="cardInput" ng-show="note.description != '' || showNewNote">
					<img id="pinInput" alt="pin" src="images/pin.svg">
					<input type="text" focus="false" ng-model="note.title" id="cardInputitle" placeholder="Title"/><br>
						<contenteditable class="test" contenteditable="true" ng-model="note.description" focus="true" id="cardInputDescription" 
						placeholder="Take a note"></contenteditable>
					<div>
						<action-bar state="state" note="note"></action-bar>
					</div>	
					<button id="savebtn" type="button"  ng-click="saveNotes()">Done</button>
				</div>
			</div>
			<div class="col-md-12" ng-if="(notes | filter : {pinned : true,isArchived : false, trashed: false}).length > 0">
				<br>Pinned:<br>
			</div>
				<note-details state="statePinnedNote" notes="notes"></note-details>
			<div  class="col-md-12" ng-if="(notes | filter : {pinned : false,isArchived : false, trashed: false}).length > 0">
				<br>Others:<br>
			</div>
				<note-details state="stateUnPinnedNote" notes="notes"></note-details>
		</div>
	</div>
</div>