<div class="CardContainer" ng-controller="noteDetailsController as nDC">
	<div  ng-repeat="note in notes | filter:searchText | filter : {pinned : state.isPinned,isArchived : state.isArchived, trashed: state.isTrashed}"  
							 ng-class="{'col-md-4': view === 'grid', 'col-md-12': view === 'list'}">
		<div class="showCards" style="background-color:{{note.color}}" >
			<img ng-if="!state.isTrashed && !state.isArchived" ng-click="note.pinned=!note.pinned;editNotes(note);"src="images/pin.svg">
			<img ng-if="state.isArchived" ng-click="note.pinned=true;note.isArchived= false;editNotes(note);"src="images/pin.svg"/>
			<img ng-click="updatePinup(note)" ng-src="{{note.image}}" height="50px" weidth="50px">
			<div ng-if="!state.isEditable" ng-click="open(note, state)">
				<div>{{note.title}}</div><br>
				<div>{{note.description}}</div><br>
			</div>
			<div ng-if="state.isEditable">
				<input class="input" type="text" focus="false" ng-model="note.title" id="cardInputitle" placeholder="Title"/><br>
				<contenteditable class="test" contenteditable="true" ng-model="note.description" focus="true"
										placeholder="Take a note">
				</contenteditable>
			</div>
			<action-bar state="state" note="note"></action-bar>
		</div>
	</div>
</div>
