<div id="mySidenav" class="sidenav" style="width:{{width}}px">
  <a id="font" ui-sref=".notes">Notes</a>
  <a id="font" ui-sref=".reminder">Reminders</a>
  <hr id="break">
  <span id ="span">Labels<a id="font" ng-click="callback()">Edit</a></span>
  <div  ng-repeat="label in labels">
  	<a id="labelList" ui-sref="">{{label.labelName}}</a>
  </div>
  <a id="font" ng-click="callback()">create new label</a> 
  <hr id="break">
  <a id="font" ui-sref=".archive">Archive</a>
  <a id="font" ui-sref=".trash">Trash</a>
</div>
