<div class="homecontainer" ng-controller="trashController">
	<div id="main" style="margin-left:{{margin}}px">
		<div class="container">
			<div class="CardContainer">
				<div ng-repeat="note in notes | filter : {trashed: true}" ng-class="{'col-md-4': view === 'grid', 'col-md-12': view === 'list'}">
					<div class="showCards" style="background-color:{{note.color}}">
						<img ng-src={{note.image}}>
						<div>{{note.title}}</div><br>
						<div>{{note.description}}</div><br>
						<div class="btn-group" uib-dropdown>
							<span id ="dropdown" class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle> </span>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem" ng-click="deleteNote(note.notesId)"><a href="">Delete forever</a></li>
								<li role="menuitem" ng-click="note.trashed=false;editNote(note)"><a href="">Restore</a></li>
							</ul>
				  		</div>
					</div>
			 	</div>
			</div>
		</div>
	</div>
</div>
